{{ define "admin-team.tmpl" }}
{{ template "header" . }}
<section class="container">
    <h1 class="title is-1 has-text-centered">
        Gérer les équipes
    </h1>

    <h2 class="title is-1 has-text-centered">Liste des équipes</h2>



</section>

<!--  -->
</body>

</html>
{{ end }}