{{ define "index.tmpl" }}
{{ template "header" . }}
<section class="container">
    <h1 class="title is-1 has-text-centered">
        Administration Tzatziquiz
    </h1>

    <h2 class="title is-1 has-text-centered">Liste des quiz</h2>

    

</section>

<!--  -->
</body>

</html>
{{ end }}