{{ define "index.tmpl" }}
{{ template "header" . }}
<section class="container mt-2">
    <div class="columns ml-5">
        <div class="column is-flex is-justify-content-flex-end">
            <h1 class="title is-1 has-text-centered">
                Toppyquiz
            </h1>
        </div>
        <div class="column">
            <figure class="image is-96x96 is-flex is-justify-content-flex-start">
                <img src="/assets/quiz-logo.png" alt="Toppyquiz Logo">
            </figure>
        </div>
    </div>

    <a class="button is-light mt-2" href="/admin">
        Panel gestion admin
    </a>

    <h1 class=" title is-1 has-text-centered">
        Choisir une image à afficher ici
    </h1>

</section>
</body>

</html>
{{ end }}