{{ define "shop.tmpl" }}
{{ template "header" . }}
<section class="container mt-2">
    <!-- API qui listen en window location href avec des paramètres pour les changements de page -->


</section>
</body>

</html>
{{ end }}